<%- include('header.ejs') %>

<body>
    <h1>Pokedex</h1>
    <div>
        <ul class="pokemon-list">
            <% for (let pokemon of pokemons) { %>
                <li>
                    <a href="/pokemon/<%= pokemon.name %>"><%= pokemon.name %></a>
                </li>
            <% } %>
        </ul>
    </div>
<%- include('footer.ejs') %>